.single-radius {
    border-radius: 5px;
}

.logo-sos {
    margin-top: 12px;
    margin-left: 6px;
}

.text-justify {
    text-align: justify;
}

.card-img {
    height: 32vh;
}

.carousel {
    height: 100vh;  
}